.container{
	padding-top: 3rem;
}

.color-line{
	padding-bottom: 6px;
  color: white;
	border-bottom: 2px solid #293e35;
	padding-top: 10px;
	cursor: pointer;
	text-transform: capitalize;
	margin-bottom: 1.5rem;
}

.color-line:hover {
	color: #1e2823;
	transition: color 0.1s ease-out;
}